@font-face {
    font-family: "BLUEOCEAN";
    src: url("/fonts/BLUEOCEAN.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #333;
}

header {
    background-color: #333;
    padding: 2.5rem 0;
    text-align: center;
    position: sticky;
    top: 0;
}

header a {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-family: "BLUEOCEAN", Arial, sans-serif;
    text-transform: uppercase;
}

nav {
    background-color: #333;
    border-top: #fff 0.02rem solid;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 5rem;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0;
    align-content: center;
}

nav ul li:hover {
    color: #fff;
    background-color: #333;
}

nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    align-content: center;
}

nav ul li a:hover {
    background-color: #7a7a7a;
}

.mainContainer,
.albumMainContainer,
.formMainContainer {
    flex-grow: 1;
    padding: 2rem;
}

.mainContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 55vh;
    gap: 2rem;
}

.albumContainer {
    border: 1px solid #ddd;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.albumContainer:hover {
    background-color: #f9f9f9;
}

.coverContainer {
    padding: 2rem 0;
}

.coverContainer img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.descriptions div {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0.6rem;
}

footer {
    padding: 2rem 0;
    text-align: center;
}

.albumMainContainer {
    width: 60%;
    margin: 2rem 0;
    align-self: center;
    border: #333 solid 0.02rem;
}

.albumMainContainer .coverContainer img {
    width: 50%;
}

.albumMainContainer .descriptions div {
    width: 50%;
}

.name,
.albumName {
    font-size: 1.5rem;
    font-weight: 450;
    letter-spacing: 0.1rem;
}

.artist,
.albumArtist {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.genre,
.albumGenre {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.songs {
    white-space: pre-wrap;
    line-height: 1.5em;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.options {
    justify-self: center;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
    border-top: #333 solid 0.02rem;
    margin-top: 2rem;
}

.options button {
    border: none;
    background-color: transparent;
    height: 3rem;
    width: 100%;
    font-size: 1.2rem;
}

.options a,
.options form {
    flex-grow: 1;
    display: block;
    height: 3rem;
    width: 100%;
    text-align: center;
    align-content: center;
    font-size: 1.2rem;
}

.options button:hover {
    cursor: pointer;
    background-color: #ffffffde;
}

.options a:hover {
    background-color: #ffffffde;
}

.formMainContainer {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 2rem 0;
    border: #333 solid 0.02rem;
}

.formMainContainer form {
    width: 90%;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formMainContainer form label {
    align-self: start;
    padding: 0 0.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 450;
    letter-spacing: 0.1rem;
}

.formMainContainer form input {
    width: 100%;
    height: 3rem;
    border: none;
    background-color: #ffffff9c;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    padding: 0 1.5rem;
}

.formMainContainer form textarea {
    width: 100%;
    height: 18rem;
    border: none;
    background-color: #ffffff9c;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    padding: 0.5rem 1.5rem;
}

.formMainContainer form button {
    border: none;
    height: 3rem;
    background-color: #ffffff9c;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 5rem;
    padding: 0 1.5rem;
}

.formMainContainer form button:hover {
    cursor: pointer;
    background-color: #ffffffde;
}

@media (max-width: 600px) {
    .mainContainer {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 35rem;
    }
    nav ul li a {
        font-size: 0.65rem;
    }
    .albumMainContainer {
        width: 80%;
    }
    .albumMainContainer .coverContainer img {
        width: 80%;
    }

    .albumMainContainer .descriptions div {
        width: 80%;
    }
    .options {
        width: 80%;
    }
    .formMainContainer {
        width: 80%;
    }
    .formMainContainer form {
        width: 100%;
    }
}

@media (1200px >= width > 600px) {
    .mainContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 35rem;
    }
    .albumMainContainer {
        width: 80%;
    }
    .albumMainContainer .coverContainer img {
        width: 80%;
    }

    .albumMainContainer .descriptions div {
        width: 80%;
    }
    .options {
        width: 80%;
    }
    .formMainContainer {
        width: 80%;
    }
    .formMainContainer form {
        width: 100%;
    }
}
